body{
    background-color:black;
 }
 
 nav ul a,
 nav .brand-logo {
   color: rgb(68, 90, 189);
   font-weight: bold;
   font-size: 1.3em;
 }
 
 nav{
   max-width: 100%;
   margin-left: 0%;
   margin-right: 0%;
   height: 60px;
   background-color:rgb(255, 255, 255);
   border-bottom: 4px solid rgb(68, 90, 189);
   border-left: 18px solid rgb(68, 90, 189);
   border-right: 18px solid rgb(68, 90, 189);
   border-radius: 0px;
 }

 #logo-container{
  color: rgb(68, 90, 189);
 }

 nav ul{
   float: right;
 }

 nav ul a:hover{
   color: rgb(61, 245, 24);
   text-decoration: none;
 }

 nav ul li{
     display: inline-block;
     line-height: 60px;
     margin: 0 5px;
 }


.sub-menu{
  display:none;
}

nav ul li:hover .sub-menu{
  display: block;
  position:absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border-top-left-radius: 0px;
  border: 6px solid rgb(68, 90, 189);
  margin-top: 0px;
}

nav ul li:hover .sub-menu ul li{
  display: block;
  margin: 10px;
  margin-left: -25px;
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: left;
  padding: 10px;
  padding-right: 30px;
}


 #leaf{
   color: rgb(56, 255, 16);
 }
 
 
 #logo-container{
  font-family: 'Aclonica', sans-serif;
  text-decoration: none;
   line-height: 60px;
   text-align:center;
   font-size: 1.7em;
   /*background: linear-gradient(90deg, rgb(250, 248, 241) 0%, rgb(243, 243, 241) 150%);*/
 }

 .crop-back{
   background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.0)), url(https://images.pexels.com/photos/2158014/pexels-photo-2158014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   margin-left: 0%;
   margin-right: 0%;
   height:100%;
   background-size:cover;
   background-repeat: no-repeat;
   background-position-x: center;
 }

 .crop-result-back{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)),url(https://images.pexels.com/photos/2164230/pexels-photo-2164230.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  height: 100%;
 }

 .fertilizer-org-back{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)),url(https://images.pexels.com/photos/9507315/pexels-photo-9507315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  margin-left: 0%;
  margin-right: 0%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
}

.fertilizer-chem-back{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2)) ,url(https://images.pexels.com/photos/2987081/pexels-photo-2987081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  margin-left: 0%;
  margin-right: 0%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
}

.fertilizer-result-back{
  background-image: url(https://images.pexels.com/photos/9507297/pexels-photo-9507297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: none;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  object-fit:scale-up;
  height: 100%;
 }

.disease-back{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)), url(https://images.pexels.com/photos/2478441/pexels-photo-2478441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: none;
  background-repeat: no-repeat;
  background-size:130%;
  background-position:0% 65%;
  height: 100%;
}

.disease-result-back{
  background-image: url(https://images.pexels.com/photos/105028/pexels-photo-105028.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: none;
  background-repeat: no-repeat;
  background-size:100%;
  background-position-x: center;
  height: 100%;
 }

 .try-again-back{
  background-image: url(https://images.unsplash.com/photo-1536094919620-d948a02d5085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: none;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  height: 100%;
 }

 .form-control{
  border-radius: 25px;
 }

 .form-group{
   color: white;
 }

 .npk-cropform{
  width: 35%;
  height: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 45%;
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  border-radius: 85px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.6);
 }

.btn.btn-info.predict{
  color: black;
  border: 2px solid rgb(246, 210, 31);
  border-radius: 80px;
  max-width: fit-content;
  align-content: center;
  margin-top: 4%;
  padding: 20px;
  padding-top: 8px;        
  height:50px;           
  font-size: 21px;
  font-weight: bold;
  background-color: rgb(246, 210, 31);
}

.btn.btn-info.predict:hover{
	color: white;
	background-color: rgb(16, 255, 56);
	border: 2px solid rgb(56, 255, 16);
}

.predict-crop{
	color:black;
  font-size: 1.7em;
	width: 45%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color:rgba(255, 235, 205,0.7);
  border-radius: 45px;
  margin-left: 400px;
  font-weight: bold;
  text-align: center;
}

.fert-msg{
  text-align: center; 
  margin: 0px; 
  color: white;
  font-family: 'Aclonica', sans-serif;
  text-shadow:0 0 4px rgb(219, 160, 71);
}

.npk-fertilizerform{
  width: 40%;
  height: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  margin: 0px auto;
  color: rgb(255, 255, 255);
  border: 4px solid rgb(219, 160, 71);
  border-radius: 65px;
  padding: 40px 50px;
  background-color: rgb(255, 235, 205,0.7);
  margin-top:30px;
}

.btn.btn-info.predict-fert{
	      color: white;
          background-color: rgb(203, 108, 14);
          border: 2px solid rgb(203, 108, 14);
          font-weight: bold;
          height: 50px;
          border-radius: 65px;
          font-size: 21px;
          margin-top: 30px;
          margin-left: 35%;
          max-width: fit-content;
          min-width: 130px
}

.btn.btn-info.predict-fert:hover{
	color: white;
	background-color: rgb(0, 132, 233);
	border: 2px solid rgb(0, 132, 233);
}

.fert-res-msg{
  width: 75%;
  background-color:rgba(255, 235, 205,0.7);
  border-radius: 25px;
  margin-left: 12%;
  font-weight: bold;
}

.try-msg{
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 50px;
  width: fit-content;
  align-content: center;
  margin-left: 5%;
  margin-top: 3%;
  padding: 30px;
  padding-top: 10px;
}

.disease-msg{
  color: white;
  font-size: 30px;
  text-align: left;
  border-radius: 50px;
  width: fit-content;
  align-content: center;
  margin-left: 10%;
  margin-top: 3%;
  padding: 30px;
  padding-top: 10px;
}

.image-upload{
  color: white;
}

.upload-box{
  width: 450px;
  height: 48rem;
  margin: 0px auto;
  margin-left: 12%;
  margin-top: 30px;
  color: black;
  border-radius: 85px;
  padding-top: 40px;
  padding-left:30px;
  padding-right:30px;
  font-weight: bold;
  background-size: 80%;
  border: 8px solid white;
  background-color:rgba(255, 235, 205,0.8);
}

.dis-res-msg{
  width: 75%;
  background-color:rgb(255, 235, 205,0.7);
  border-radius: 25px;
  margin-left: 12%;
  font-weight: bold;
}

.btn.btn-lg.btn-primary.btn-block.predict{
	font-weight: bold;
              max-width: fit-content;
                 color: black;
                 background-color: rgb(170, 117, 37);
                 font-weight: bold;
                 font-size: 1.4em;
                 margin-left: 125px;
                 margin-top: 20px;
                 padding-top:10px;
                 padding-bottom:10px;
                 padding-left: 25px;
                 padding-right: 25px;
                 border-radius:40px;
                 border: 3px solid rgb(170, 117, 37);
				 
}

.btn.btn-lg.btn-primary.btn-block.predict:hover{
	background-color:red;
	border: 3px solid red;
	color: white;

}

#google_translate_element{
	padding-left:100px;
	padding-bottom:20px;
	padding-top:50px;
	margin-top:100px;
	background-color:rgba(255,255,255,0.7);
	
	border-radius:200px 200px 0px 0px;
}

.lang-text{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
 