
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	  <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Crop</title>
  </head>
  
  <body>
    
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo teal-text" style="color:white;"><i id="leaf" class="fas fa-leaf"></i> FarmEasy</a>
          <ul class="right hide-on-med-and-down">
        <li><a href="crop">Crop</a></li>
        <li><a href="#">Fertilizers</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="fertilizer-chemical">Chemical</a></li>
                    <li><a href="fertilizer-organic">Organic</a></li>
                </ul>
            </div>
        </li>
        <li><a href="disease-predict">Disease</a></li>
		<li><a href="logout">Log Out</a></li>
          </ul>
        </div>
      </nav>
    
<div class="crop-back" style="margin-top: 30px;">
  <div style="padding-top: 20px;padding-bottom: 10px;">
    <h3 
    style="
    font-family: 'Aclonica', sans-serif;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px; 
    color: black;
    width: fit-content;
    margin-left: 25%;
    border-radius: 0px;
    padding: 8px;">
      <b> <i class="fas fa-seedling" style="color: rgb(56, 255, 16);font-size: 1.3em;"></i>
        <br>Find out the most suitable crop to grow in your farm</b>
    </h3>
    </div>
    
    <div class="npk-cropform">
      <form method="POST" action="{{ url_for('crop_prediction') }}">
        <div class="form-group">
          <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen (in mg/kg)</b></label>
          <input
            type="number"
            class="form-control"
            id="Nitrogen"
            name="nitrogen"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous (in mg/kg)</b></label
          >
          <input
            type="number"
            class="form-control"
            id="Phosphorous"
            name="phosphorous"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
    
        <div class="form-group">
          <label for="Potassium" style="font-size: 17px"><b>Potassium (in mg/kg)</b></label>
          <input
            type="number"
            class="form-control"
            id="Potassium"
            name="potassium"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="pH" style="font-size: 17px"><b>pH level</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="ph"
            name="pH"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="Rainfall"
            name="rainfall"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="State" style="font-size: 17px "><b>State</b></label>
          <select
            onchange="print_city('state', this.selectedIndex);"
            id="sts"
            name="stt"
            class="form-control"
            style="font-weight: bold; color: black;"
            
            required
          ></select>
          <br />
          <label for="City" style="font-size: 17px"><b>City</b></label>
          <select
            id="state"
            class="form-control"
            name="city"
            style="font-weight: bold; color: black;"
            required
          ></select>
          <script language="javascript">
            print_state("sts");
          </script>
        </div>
    
        <div class="d-flex justify-content-center" style="margin-left: 35%;">
          <button
            type="submit"
            class="btn btn-info"
            style=
            "color: black;  
            max-width: fit-content; 
            height:50px; 
            border-radius:50px; 
            font-size: 21px;
            font-weight: bold;
            background-color: rgb(56, 255, 16);
            ;"
          >
            Predict
          </button>
        </div>
      </form>
    </div>
</div>

<!-- Google Translate API -->
<hr>
<div id="google_element">
  <p class="lang-text">Want to change the Language of the page?<br>Please select from the options below:</p>
</div>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
  function loadGoogleTranslate() {
    new google.translate.TranslateElement("google_element");
  }
</script>

      
  </body>
  </html>      