<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Disease</title>
  </head>
  
  <body style="background-color:white;">
    
    
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo teal-text"><i id="leaf" class="fas fa-leaf"></i> FarmEasy</a>
        <ul class="right hide-on-med-and-down">
           <!--<li><a href="/">Home</a></li> -->
        <li><a href="crop">Crop</a></li>
        <li><a href="#">Fertilizers</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="fertilizer-chemical">Chemical</a></li>
                    <li><a href="fertilizer-organic">Organic</a></li>
                </ul>
            </div>
        </li>
          
        <li><a href="disease-predict">Disease</a></li>
        <li><a href="logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

      <div class="disease-back" >
        <div style="padding-top: 5px;padding-bottom: 150px;">

      <h2 class="disease-msg">
        <b><span style="color: white;font-size: 25px;">Diseases are a serious issue when it comes to plants <i class="fas fa-bacteria fa-beat fa-1.4x"  style="color: red;font-size: 1.2em;";></i></span>
            <br><span style="color:black">Find out which disease has been caught by your plant</span><span class="fa-shake" style="color: red;">!</span></b>
      </h2>
      
    
    <div class="upload-box">
    
      <form class="form-signin" method=post enctype=multipart/form-data>
    
        <h2 class="h4 image-upload" style="font-size: 1.5em;padding-top: none;width: 200%;">
          <b>Please upload the crop image here:</b></h2>
        <br>
        <div>
        <input type="file" name="file" class="form-control-file" id="inputfile" onchange="preview_image(event)" style="font-weight: bold;">
        </div>
        <br>
        <img id="output-image" style="width: 80% !important;margin-left: 35px;border:2px solid white" class="rounded mx-auto d-block"  >
        <button class="btn btn-lg btn-primary btn-block predict" type="submit" >
              
              Predict</button>
    
    
      </form>
    </div>
    
    <script type="text/javascript" style="image-resolution: 50px;">
      function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
          var output = document.getElementById('output-image')
          output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
    
    </div>
	
	<!-- Google Translate API -->

<div id="google_translate_element">
  <p class="lang-text">Want to change the Language of the page?<br>Please select from the options below:</p>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en', includedLanguages: 'en,ar,fr,de,es,it,ja,ko,pt,ru,zh-CN,hi,bn,te,mr,ta,gu,kn,ml,pa' },
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	
      </div>
    





</body>
</html>