<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	  <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Chemical Fertilizers</title>

  </head>
  
  <body style="background-color:white;">
    
    
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo teal-text" style="color:white;"><i id="leaf" class="fas fa-leaf"></i> FarmEasy</a>
          <ul class="right hide-on-med-and-down">
        <li><a href="crop">Crop</a></li>
        <li><a href="#">Fertilizers</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="fertilizer-chemical">Chemical</a></li>
                    <li><a href="fertilizer-organic">Organic</a></li>
                </ul>
            </div>
        </li>
        <li><a href="disease-predict">Disease</a></li>
		<li><a href="logout">Log Out</a></li>
          </ul>
        </div>
      </nav>

      <div class="fertilizer-chem-back" style="margin-top: 30px;">
  <div style="padding-top: 60px;padding-bottom: 60px;">

    <h2 class="fert-msg">
  <b><i class="fas fa-air-freshener" style="color: rgb(56, 255, 16);padding-bottom: 10px;text-shadow: none;"></i>
    <br>Find out the most suitable Chemical Fertilizer for your crop</b>
</h2>
<br />

<div class="npk-fertilizerform"
  
>
  <form method="POST" action="{{ url_for('fert_recommend') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px;color: black;"><b>Nitrogen (in mg/kg)</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px;color: black;"
        ><b>Phosphorous (in mg/kg)</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px;color: black;"><b>Potassium (in mg/kg)</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="text"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div> -->
    <div class="form-group">
      <label for="crop" style="font-size: 17px;color: black;"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>Barley</option>
        <option>Cotton</option>
        <option>Ground Nuts</option>
        <option>Maize</option>
        <option>Millets</option>
        <option>Oil Seeds</option>
        <option>Paddy</option>
        <option>Pulses</option>
        <option>Sugarcane</option>
        <option>Tobacco</option>
        <option>Wheat</option>
        </select>
    </div>

    <div class="form-group">
        <label for="soil" style="font-size: 17px;color: black;"
          ><b>Soil Type</b></label
        >
        <select
          name="soilname"
          class="form-control"
          id="soil"  
          placeholder="Select soil"
          style="font-weight: bold"
          required
        >
          <option selected>Select Soil</option>
          <option>Black</option>
          <option>Clayey</option>
          <option>Loamy</option>
          <option>Red</option>
          <option>Sandy</option>
      
          </select>
      </div>

      <div class="form-group">
        <label for="Moisture" style="font-size: 17px;color: black;"><b>Moisture (in mg/L)</b></label>
        <input
          type="number"
          class="form-control"
          id="Moisture"
          name="moisture"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>

      <div class="form-group">
        <label for="State" style="font-size: 17px;color:black "><b>State</b></label>
        <select
          onchange="print_city('state', this.selectedIndex);"
          id="sts"
          name="stt"
          class="form-control"
          style="font-weight: bold; color: black;"
          
          required
        ></select>
        <br />
        <label for="City" style="font-size: 17px;color:black"><b>City</b></label>
        <select
          id="state"
          class="form-control"
          name="city"
          style="font-weight: bold; color: black;"
          required
        ></select>
		<script language="javascript">
            print_state("sts");
          </script>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: rgb(56, 255, 16);
          background-color: black;
          border: 2px solid black;
          font-weight: bold;
          height: 50px;
          border-radius: 15px;
          font-size: 21px;
          margin-top: 20px;
          margin-left: 35%;
          max-width: fit-content;
          min-width: 130px
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>
</div>
</div>

<!-- Google Translate API -->
<hr>
<div id="google_element" style="margin-left: none;">
  <p class="lang-text">Want to change the Language of the page?<br>Please select from the options below:</p>
</div>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
  function loadGoogleTranslate() {
    new google.translate.TranslateElement("google_element");
  }
</script>


</body>
</html>