<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Organic Fertilizers</title>
  </head>
  
  <body style="background-color:white;">
    
    
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo teal-text"><i id="leaf" class="fas fa-leaf"></i> FarmEasy</a>
        <ul class="right hide-on-med-and-down">
          <!--<li><a href="/">Home</a></li> -->
        <li><a href="crop">Crop</a></li>
        <li><a href="#">Fertilizers</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="fertilizer-chemical">Chemical</a></li>
                    <li><a href="fertilizer-organic">Organic</a></li>
                </ul>
            </div>
        </li>
        
        <li><a href="disease-predict">Disease</a></li>
        <li><a href="logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

      <div class="fertilizer-org-back">
  <div style="padding-top: 80px;padding-bottom: 60px;">

    <h3 class="fert-msg">
  <b><i class="fa-solid fa-hand-holding-droplet" style="color: rgb(203, 108, 14);padding-bottom: 10px;text-shadow: none;font-size: 1.4em;"></i>
    <br>Find out the most suitable Organic Fertilizer for your crop</b>
</h3>
<br />

<div class="npk-fertilizerform"
  
>
  <form method="POST" action="{{ url_for('fert_recommend_organic') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px;color: black;"><b>Nitrogen (in mg/kg)</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px;color: black;"
        ><b>Phosphorous (in mg/kg)</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px;color: black;"><b>Potassium (in mg/kg)</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="text"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div> -->
    <div class="form-group">
      <label for="crop" style="font-size: 17px;color: black;"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>rice</option>
        <option>maize</option>
        <option>chickpea</option>
        <option>kidneybeans</option>
        <option>pigeonpeas</option>
        <option>mothbeans</option>
        <option>mungbean</option>
        <option>blackgram</option>
        <option>lentil</option>
        <option>pomegranate</option>
        <option>banana</option>
        <option>mango</option>
        <option>grapes</option>
        <option>watermelon</option>
        <option>muskmelon</option>
        <option>apple</option>
        <option>orange</option>
        <option>papaya</option>
        <option>coconut</option>
        <option>cotton</option>
        <option>jute</option>
        <option>coffee</option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info predict-fert" 
      >
        Predict
      </button>
    </div>
  </form>
</div>
</div>


<!-- Google Translate API -->

<div id="google_translate_element">
  <p class="lang-text">Want to change the Language of the page?<br>Please select from the options below:</p>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en', includedLanguages: 'en,ar,fr,de,es,it,ja,ko,pt,ru,zh-CN,hi,bn,te,mr,ta,gu,kn,ml,pa' },
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</div>

</body>
</html>