<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Try Again!</title>

  </head>

<body style="background-color:white;">

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo teal-text"><i id="leaf" class="fas fa-leaf"></i> FarmEasy</a>
          <ul class="right hide-on-med-and-down">
           <!--<li><a href="/">Home</a></li> -->
        <li><a href="crop">Crop</a></li>
        <li><a href="#">Fertilizers</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="fertilizer-chemical">Chemical</a></li>
                    <li><a href="fertilizer-organic">Organic</a></li>
                </ul>
            </div>
        </li>
        
        <li><a href="disease-predict">Disease</a></li>
        <li><a href="logout">Log Out</a></li>
          </ul>
        </div>
      </nav>


      <div class="try-again-back">
      <div style="padding-top: 20px;padding-bottom: 50%;">
    
        <h1 class="try-msg"><i class="fas fa-exclamation-triangle" style="color:red;"></i>
        <br><b>Sorry, we couldn't process your request currently. 
            <br> Please try again</b></h1>


        <a href="{{ url_for('fertilizer_recommendation_chemical') }}">
          <button type="submit" class="btn btn-info" 
           style=
                "border:2px solid black;
                 color: rgb(56, 255, 16);
                 background-color: black;
                 font-weight: bold;
                 font-size: 1.3em;
                 margin-left: 26%;
                 padding-top:2px;
                 padding-bottom:10px;
                 padding-left: 25px;
                 padding-right: 25px;
                 border-radius:30px;
                 border: 3px solid rgb(56, 255, 16);">
            <i id="leaf" class="fas fa-leaf"></i><br>
            Try again
          </button>
        </a>
      </div>
    

<!-- Google Translate API -->

<div id="google_translate_element">
  <p class="lang-text">Want to change the Language of the page?<br>Please select from the options below:</p>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en', includedLanguages: 'en,ar,fr,de,es,it,ja,ko,pt,ru,zh-CN,hi,bn,te,mr,ta,gu,kn,ml,pa' },
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</div>

</body>
</html>